body {
    margin: 0;
    padding: 0;
    background-color: #D1EEEE;
}

#rgb {
    color: rgb(255, 120, 0);
}

#rgba {
    color: rgba(250, 1, 0, 255)
}
table {
    background-color: aqua;
}

tr th {
    opacity: 0.5;
    background-color: black;
    color: bisque;
}
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
}
.bg-image {
    background-position: center;
    background-size: cover; /* Conseguir ver a imagem toda */
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-repeat: no-repeat;
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/t2/4551586-abstract-colorful-soft-light-gradient-for-background-and-walpaper-foto.jpg);
}